* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
  
  a {
    text-decoration: none;
    color: #2c8579;
  
  }
  a:hover {
    color: #b9d6d2;
    opacity: 70%;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  body {
    width: 100%;
  }
  body header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #222222;
    color: #eaeaea;
    padding: 10px;
    width: 100%;
  }
  body header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body header .container #logo {
    color: #eaeaea;
  }
  
  body header .container #logo img{
    width: 120px;
  }
  
  body header .container #main-nav {
    margin: auto 30px;
  }
  body header .container #main-nav #nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body header .container #main-nav #nav-menu .nav-menu-item {
    margin-right: 50px;
  }

  .extra{
    display: none;
  }
  body header .container #main-nav #nav-menu .nav-menu-item a {
    color: #eaeaea;
  }
  body header .container #main-nav #nav-menu .nav-menu-item .current {
    background-color: #b9d6d2;
    color: #2c8579;
    font-weight: bold;
    padding: 12px 18px;
    border-radius: 7px;
  }
  body header .container .sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* for those that have sign out and profile here you are too change only the style on the profile pic part  */
  body header .container .sign-up a {
    color: #eaeaea;
    padding: 12px 18px;
    border-radius: 7px;
    white-space: nowrap;
  }
  body header .container .sign-up a:first-child {
    border: 1px solid #eaeaea;
    margin-right: 25px;
  }
  
  body header .container .sign-up a:first-child:hover {
    border: 1px solid rgb(1, 202, 202);
    color: rgb(1, 202, 202);
    opacity: 100%;
  }

  /* this is the style for the profile/get started part  */
  body header .container .sign-up a:last-child {
    margin-right: -50px;
  }
  .toggler {
    display: none;
    margin-right: 0;
  }
.header2 {
    position: fixed;
    margin-left: 5%;
    margin-top: 40px;
    padding-bottom: 250px;
    width: 150px;
    background-color: rgb(185,214,210);
    padding-top: 10px;
}
.header2 ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.li1 {
    color: rgb(79,153,143);
    margin-bottom: 20px;
}
.li2 a {
    color: rgb(34,34,34);
}
h1 {
    font-size: 40px;
    margin-top: 30px;
    margin-left: 35%;
}
.files {
    display: flex;
    width: 60%;
    padding-left: 25%;
    margin-bottom: 50px;
}
.file1,.file2 {
    width: 50%;
}
.file1 {
    padding-right: 100px;
}
.file1 h3, .file2 h3 {
    margin-bottom: 10px;
}
.file1 a, .file2 a {
    padding: 5px;
    color: rgb(79,153,143)l;
    border: 1px solid rgb(79,153,143);
    border-radius: 10px;
}
.container1 {
    background-color: rgb(185,214,210);
    padding: 80px;
    border: none;
    border-radius: 10px;
    padding-bottom: 50px;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 20px;
    width: 40%;
}
.drag-and-drop {
    background-color: rgb(244,244,244);
    color: rgb(44,133,121);
    padding: 20px;
    font-size: 13px;
    text-align: center;
    border-radius: 10px;
}
.browsefile {
    color: rgb(44,133,121);
}
button {
    padding: 20px 70px 20px 70px;
    font-size: 15px;
    color: rgb(248,248,248);
    background-color: rgb(44,133,121);
    border-radius: 10px;
    border: none;
    margin-left: 45%;
    margin-bottom: 50px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(37,111,101);
}
button:active {
    background-color: rgb(79,153,143);
}
.below-compare {
    display: flex;
    width: 80%;
    margin-left: 25%;
    margin-bottom: 50px;
}
.below-compare p, .below-compare li {
    color: rgb(108,108,108);
}
.text1 {
    width: 40%;
    padding-right: 8%;
}
.text2 {
    width: 33%;
}
.text1 h5, .text1 p {
    margin-bottom: 5px;
}
.text2 li {
    margin-left: 10px;
    margin-top: 5px;
}
h4 {
    font-size: 20px;
    margin-bottom: 20px;
}
.text2 h4, .text1 h5 {
    color: rgb(17,17,17);
}
footer {
    position: relative;
    background-color: rgb(34,34,34);
    color: rgb(248,248,248);
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 5%;
    padding-bottom: 0px;
}
.footer1, .footer2 {
    display: flex;
}
.footer2 {
    margin-top: 50px;
    padding-bottom: 50px;
}
.left, .mid, .right, .h5 {
    width: 25%;
}
.left, .mid {
    padding-right: 200px;
}
.privacy, .copyright {
    padding-right: 350px;
}
.left h4{
    font-size: 20px;
}
.mid h5, .right h5 {
    margin-top: 18.5px;
}
.mid a{
    align-items: center;
}
.left img {
    margin-top: 30px;
}
footer a {
    color: rgb(248,248,248);
}
footer a:link {text-decoration: none;}
@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    p, li {
        font-size: 15px
    }
    .signup-head {
        height: 80px;
    }
    .header2 {
        display: none;
    }
    footer {
        width: 100%;
        padding-left: 5%;
    }
    .sign-up #signout {
        display: none;
    }
    body header .container #logo img {
        width: 90px;
        margin-left: 150%;
      }

    .toggler{
        display: block;

        position: absolute;
        top: 20px;
        left: 30px;
        z-index: 2;
        width: 60px;
        height: 60px;

        opacity: 0;

        cursor: pointer;
    }

    .ham-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 20px;
        left: 30px;
        z-index: 1;
        height: 45px;
        width: 45px;

       
        
    }

    .ham-b, 
    .ham-b::before, 
    .ham-b::after

   {

        display: block;

        position: absolute;

        background-color: whitesmoke;

        height: 3px;
        width: 35px;

        border-radius: 2px;

        transition: transform 0.4s ease-in-out;
    }

    .ham-b::before{
        content: '';
        top: -8px;
    }

    .ham-b::after{
        content: '';
        top: 8px;
    }

    .toggler:checked + .ham-container .ham-b::before{
        top: 0px;
        transform: rotate(405deg);
    }

    .toggler:checked + .ham-container .ham-b{
        background-color: rgba(255, 228, 196, 0);
    }

    .toggler:checked + .ham-container .ham-b::after{
        top: 0px;
        transform: rotate(-405deg);
    }

    #nav-menu{
        position: absolute;
        top: 0;
        right: 0;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        margin-top: 5rem;

        /* background-color: gray; */
        

    }
    .extra{
        display: block;
    }

    #nav-menu li{
        background-color: #222222;
        width: 100%;
        margin: auto;
        opacity: 0;
        text-align: center;
        padding: 1rem;
    }

    #nav-menu li a{
        color: orangered;
    }
    .toggler:checked ~ #nav-menu li{
        opacity: 1;
    }
    .toggler:checked ~ #nav-menu li:last-child{
        border-bottom: 0;
    }
    h1 {
        font-size: 25px;
        margin-top: 30px;
        margin-left: 5%;
        text-align: center;
    }
    .files {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        margin-left: -10%;
    }
    h3 {
        text-align: center;
    }
    .file1, .file2 {
        align-items: center;
        width: 90%;
        padding-right: 0px;
    }
    .file1 {
        margin-bottom: 30px;
    }
    .drag-and-drop p {
        font-size: 10px;
    }
    button {
        margin-left: 20%;
        padding-left: 100px;
        padding-right: 100px;
    }
    .below-compare {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    .text1, .text2 {
        width: 80%;
    }
    .text1 h5 {
        font-size: 18px;
        margin-top: 30px;
    }
    .footer1, .footer2 {
        display: flex;
        flex-direction: column;
    }
    .left, .mid, .right {
        width: 70%;
        padding: 30px;
        margin-bottom: 50px;
    }
    .footer2 h5 {
        width: 90%;
        padding: 30px;
    }

  
  }
    
    
