@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");
@import url("https://fonts.googleapis.com/css?family=Anton%7CBaskervville%7CRaleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap");

:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --dulltext-color: #d3d3d3;
  --text-color: white;
  --secoundary-color: #2C8579;
  --secoundary-color2: #95C2BC;
  --background-color: #000000;
  --background-color2: #202020;
  --line-height: 1.7rem;
  --transition: 0.5s ease-in;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  transition: var(--transition);
  scroll-behavior: smooth;
}

.navBar {
    background-color: var(--background-color);
    padding: 20px;
}

a {
    transition: color 0.5s ease-in-out;
    text-decoration: none;
    color: var(--dulltext-color);
    font-size: 20px;
    font-weight: bolder;
    font-family: Poppins, sans-serif;
    letter-spacing: 2px;
    margin-left: 2px;
    align-items: baseline;
  }

  .inNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media only screen and (min-width: 768px) {
    .topnav {
      display: none;
    }
  }

  @media only screen and (max-width: 768px) {
    /* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: relative;
  
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: var(--dulltext-color);
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}
.menuHam > a {
  font-size: 15px;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: var(--background-color);
  display: block;
  position: absolute;
  right: 10px;
  top: 1px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: var(--secoundary-color2);
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: var(--secoundary-color2);
  margin-left: 10px;
  visibility: hidden;
}

.b1, .b2, .b3, .b4, .b5 {
  display: none;
}
.proPic > img {
  width: 50px;
}
}

  /* .navOne {
    margin: 0px 200px 0px 200px;
  } */

  /* // these are for the buttons in the navBar */
  .b1, .b2, .b3, .b4, .b6 {
    margin: 0px 50px 0px 50px;
    background-color: var(--background-color);
    color: var(--dulltext-color);
    font-family: Poppins, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    border: 1px solid var(--background-color);
    border-radius: 5px; 
    padding: 6px 10px 6px 10px;
    transition: 0.5s;
    cursor: pointer; 
  }
  .b5 {
    margin-right: 50px; 
    background-color: var(--background-color);
    color: var(--dulltext-color);
    font-family: Poppins, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    border: 1px solid var(--dulltext-color);
    border-radius: 5px; 
    padding: 6px 10px 6px 10px;
    transition: all 0.5s;
    cursor: pointer;   
  }
  .navTwo > a > img {
    background-color: var(--secoundary-color2);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    
  }
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0px;
    transition: 0.5s;
  }
  button:hover {
    background-color: #82bfb8;
    color: rgb(13, 124, 56);
    font-weight: bold;
  }



  .mainPage {
    padding: 5%;
    background-color: var(--dulltext-color);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
  @media only screen and (max-width: 768px) {
    .mainPage {
      display: flex;
      flex-direction: column;
    }
    hr {
      visibility: none;
    }
  }
  

  .proPic > img {
    width: 320px;
    height: 360px;
    background: var(--secoundary-color2);
    border-radius: 30px;
  }
  @media only screen and (max-width: 768px) {
    .proPic > img {
      padding: 5%;
      height: 150px;
      width: 340px;
    }
  }

  .vertLine {
    border-left: 1px solid var(--background-color);
    height: 300px;
    margin-right: 50px;
  }  
  @media only screen and (max-width: 768px) {
    .vertLine {
      display: none;
    }
  }

  .details {
    margin-left: 100px;
    margin-right: 100px;
  }
  @media only screen and (max-width: 768px) {
    .details {
      margin-left: 5%;
    }
  }
  .details > h1 {
    font-size: 35px;
    font-family: Poppins,, sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
  }
  .details > h4 {
    font-size: 15px;
    font-family: Poppins,, sans-serif;
    letter-spacing: 2px;
  }
  .details > h3 {
    font-size: 20px;
    font-family: Poppins,, sans-serif;
  }
  .details > button {
    padding: 6px 10px 6px 10px;
    border-radius: 6px;
    border: none;
    font-family: Poppins, sans-serif;
    color: var(--dulltext-color);
    background-color: var(--secoundary-color);
  }

  .details2  { 
    width: 500px;;
  }
  @media only screen and (max-width: 768px) {
    .details2 {
      margin-top: 10%;
      margin-left: 2%;
      width: 90%;
    }
  }

  .details2 > h1 {
    font-size: 20px;
    font-family: Poppins,, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
  }
  .details2 > h3 {
    font-size: 15px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
  }
  .stats1, .stats2, .stats3 {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-family: Poppins, sans-serif;
    letter-spacing: 1px;
  }


  .infoPage {
    padding: 5%;
    background-color: var(--dulltext-color);
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--background-color);
    margin: 1em 0;
    padding: 0;
    margin-top: 0px;
    }

    .topic1, .topic2, .topic3, .topic4, .topic5 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 10px;
      font-family: Poppins, sans-serif;
      letter-spacing: 1px;
    }
    .files {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      font-family: Poppins, sans-serif;
      letter-spacing: 1.5px;
      font-weight: bolder;
    }


    .dropbtn {
      background-color: #4CAF50;
      position: fixed;
      color: white;
      font-size: 12px;
      border: none;
      cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: relative;
    margin-top: 5px;
    margin-right: 10px;
    background-color: #f9f9f9;
    min-width: 5px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    border-radius: 5px;
  }
  .dropdown-content a {
    color: var(--background-color);
    text-decoration: none;
    display: block;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .dropdown-content a:hover {
    background-color: #82bfb8;
  }

  .show {
    display:block;
  }


  .btn-right {
    right: 2px;
  }
  .btn-left {
    left: 2px;
  }
  .btn-left, .btn-right {
    position: relative;
    top: 2px;
  }
  .icons {
    position: relative;
    margin-right: 2px;
  }  
  .icons li {
    background: none repeat scroll 0 0 var(--background-color);
    height: 5px;
    width: 5px;
    line-height: 0;
    list-style: none outside none;
    margin-right: 1px;
    margin-top: 3px;
    vertical-align: top;
    border-radius:50%;
    pointer-events: none;
  }
  .showLeft {
    background-color: var(--dulltext-color) !important;
    border:1px solid var(--dulltext-color) !important;
    text-shadow: none !important;
    color:#fff !important;
    padding:1px;
  }


  .footer {
    padding: 5%;
    background-color: var(--background-color);
  }

  .footArrange {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media only screen and (max-width: 768px) {
    .footArrange {
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }
  }

  .footer1, .footer2, .footer3 {
    font-size: 10px;
    font-family: Poppins, sans-serif;
    color: var(--dulltext-color);
  }
  .footer1 > a > img {
    width: 100px;
  }

